*{

  font-family:  Times, serif;
}


.container{
width: 60%;
background-color: aliceblue;
min-height: 80vh;
padding: 20px;
margin: auto;
margin-top: 50px;
}

.container form{
  display: flex;
  flex-direction: column;
}


.container h1{
  text-align: center;
}

.container textarea,input, button{
 margin: 10px 60px;
 padding: 15px;
 font-size: 18px;
 border: 1px solid gray;
 border-radius: 0;
}

.container button{
  border: none;
  background-color: blue;
  color: white;
  padding: 15px;
  cursor: pointer
}

.task{
  display: flex;
padding: 20px;
border: 1px solid gray;
background-color: white;
margin: 10px 60px;
}

.task span{
  color: gray;
}

/* *{
  border: 1px solid red;
} */

.task div{
width: 100%;
}

.task button{
width: 30px;
height: 30px;
font-size: 1.4rem;
display: flex;
align-items: center;
justify-content: center;
background-color: red;
border-radius: 100%;
margin: auto;
}